
  <header>
    <nav class="navbar shadow-lg navbar-dark mb-3 bg-dark p-3 w-100">
        <div class="container-fluid">
          <a class="navbar-brand fs-4" href=" {% url "home:home" %} ">Django e Bootstrap</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu do site de Sávio</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link fs-4" href=" {% url 'home:home' %} ">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-4" href=" {% url 'blog:home' %} ">blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-4" href=" {% url 'blog:exemplo' %} ">Exemplo de blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
  </header>
<div class="container">
  <main class=" w-100 d-flex flex-column justify-content-center align-items-center "> 